*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{

    width: 100px;
    height: 50px;
    background-color: rgb(179, 179, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px ;

}
#navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;

}
#navbar ul li a{
    text-decoration: none;
    color: black;

}